<div ng-controller="ListadoController">
    <h1 class="text-primary">Listado de Películas</h1>
    <div class="alert alert-danger" ng-show="uiState == 'error'">
		Error cargando los datos.
	</div>
	<div ng-include="'views/progressBar.html'" ng-show="uiState == 'loading'">
	</div>

	<div class="jumbotron" ng-show="uiState == 'blank'">
		<p class="lead">No existen datos.</p>
	</div>    
    <movies-list alquiler="alquiler(stuff, pos)" items="model" modo="listado" ng-show="uiState =='ideal'"></movies-list>     
</div>