<table class="table table-striped">
    <thead>
        <tr>
            <th>Caratúla</th>
            <th>Título</th>
            <th>Propietario Película</th>                        
            <th>Disponibilidad</th>
        </tr>
        
    </thead>
    <tbody>
        <tr ng-repeat="item in model | filter: { usuario_alquilado: usuario }">
            <td>
                <img ng-src="{{::item.caratula}}" width="100">
            </td>
            <td>
                <h4>{{::item.titulo}}</h4>
            </td>
            <td>
                <h4>{{::item.propietario}}</h4>
            </td>
            <td>
                <h2><span ng-show="item.alquilada =='Alquilada'" class="label label-danger" >{{item.alquilada}}</span></h2>
                <h2><span ng-show="item.alquilada =='No alquilada'" class="label label-success" >Disponible</span></h2>
            </td>
            <td>
                <button ng-show="modo == 'listado' && item.alquilada =='No alquilada'"type="button" class="btn btn-primary">Alquilar</button>
                <a ng-show="modo == 'alquiladas'" href="#{{::getDetailUrl({stuff: item})}}" class="btn btn-primary">
                    Ver película 
                </a>
            </td>
        </tr>
    </tbody>
</table>